.graph-region {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    height: 256px;
}

.graph-region .bar-graph {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.time-and-date {
    font-size: x-large;
    font-family: 'MuseoModerno', cursive;
}
